/* 
This double frame class provides us with the double frame overlap 
style from that one really nice poster that Isabella made. The base 
version is only intended to be used in "unbounded" contexts, like 
the landing page gallery. Otherwise the bounded version should be 
used.
*/

// Double Frame Mixin used for creating the double frame effect
@mixin double-frame {
    box-sizing: border-box; 
    width: calc(100% - 40px);
    height: calc(100% - 40px); 
    position: absolute;
    text-align: center;
    z-index: 1;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 5px solid #957695;
        border-radius: 2.5px;
        pointer-events: none;
    }

    &::before, &::after {
        border-width: 5px;
    }

    &::before {
        margin: 0px 20px 0px 20px;
    }

    &::after {
        margin: 20px 0px 20px 0px;
    }
}

// Base version of the double frame class
.double-frame {
    @include double-frame;
}

// Bounded version of the double frame class
.double-frame-bounded {
    @include double-frame;
    border: 3px solid #957695;
    width: 100%;
    height: 100%;

    &::before, &::after {
        border-width: 3px;
        border-radius: 2px;
    }
    
    &::before {
        margin: 5px 15px 5px 15px;
    }

    &::after {
        margin: 15px 5px 15px 5px;
    }
}

$starting-width: 80%;
$starting-height: 80%;
$offset: 5%;

/* Mixin for the overlapping frame next to the image grid - the form of it right now is a little funky but i dont hate it?*/
@mixin overlapping-frame-square {
    position: absolute;
    background-color: #DCC2DC;
    border: 5px solid #4D634D;
    text-align: center;
    margin: auto;
    border-radius: 5px;

    &::before, &::after{
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #DCC2DC;
        border: 5px solid #4D634D; 
        border-radius: 5px; 
    }

    &::before{
        margin: calc(10% - 5px) calc(-10% - 5px) calc(10% - 5px) calc(-10% - 5px);
        z-index: -30;
    }
    &::after{
        margin: calc(5% - 5px) calc(-5% - 5px) calc(5% - 5px) calc(-5% - 5px);
        z-index: -20;
    }
}

.overlapping-frame-container {
    @include overlapping-frame-square;
    
    width: 80%;
    position: relative;
    display: grid;
    place-items: center;
}

/*
The following are utility classes that are used across the landing
page and in its custom UI elements.
*/
.white-header-text {
    font-family: "Yeseva One", serif;
    color: white;
}

.white-paragraph-text {
    font-family: "Caudex", serif;
    color: white;
}

.landing-gallery-image-transform {
    position: relative;
    filter: brightness(40%) grayscale(80%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.landing-gallery-text-container {
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing-gallery-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.grid-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.grid-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05); 
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@mixin card-text {
    color: black;
    text-align: left;
    margin: 0px;
}

.card-header-text {
    @include card-text;
    font-family: "Yeseva One", serif;
    padding: 0px 0px 5px 0px;
}
  
.card-body-text {
    @include card-text;
    font-family: "Caudex", serif;
    padding: 0px 0px 5px 0px;
}

.card-interior-container {
    place-items: left;
    padding: 10px;
}

.card-container {
    display: flex;
}

.force-padding-container {
    padding: 15px;
}

/* Mixin for any buttons we want to add to the bottom of any tag*/
@mixin base-button{
    border-radius: 10px;
    padding: 10px;
    border: none;
    text-decoration: none;
}

.card-button{
    @include base-button;
    background-color: #4d634d;
    font-family: "Caudex", serif;
    font-style: italic;
    font-size: 1.2em;
    color: white;

    &:hover {
        background-color: #7a8a7a; // Change this to the color you want on hover
    }
}

a {
    text-decoration: none;
}