/* 
This is the double frame class. It's design was inspired by a
poster designed by Isabella Garrison. It has two main variants,
one used in the image gallery, and one used for framing photos.
*/

// Double Frame Mixin used for creating the double frame effect
@mixin double-frame {
    box-sizing: border-box; 
    text-align: center;
    z-index: 1;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 5px solid #987398;
        border-radius: 2.5px;
        pointer-events: none;
        border-width: 5px;
    }

    &::before {
        margin: 0px 20px 0px 20px;
    }

    &::after {
        margin: 20px 0px 20px 0px;
    }
}

// Version of the Double Frame class used in the image gallery
.double-frame-gallery {
    @include double-frame;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px); 
}

// Version of the Double Frame class used to frame photos
.double-frame-bounded {
    @include double-frame;
    border: 4px solid #957695;
    position: relative;
    width: auto;
    display: inline-block;
    
    &::before, &::after {
        border-width: 4px;
        border-radius: 2px;
        z-index: 3;
    }
    
    &::before {
        margin: 5px 15px 5px 15px;
    }

    &::after {
        margin: 15px 5px 15px 5px;
    }
}

/*
This is the double rounded rectangle class. It consists of two
rounded rectangles, one with a larger radius and thickness than
the other. There are two main variants, one used in the image
gallery, and one used for framing photos.
*/

// Base mixin used for creating the double rounded rectangle effect
@mixin double-rounded-rectangle-base {
    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 5px solid #987398;
        pointer-events: none;
    }
}

// Class to be called for the double rounded rectangle in the gallery
.double-rounded-rectangle-gallery {
    @include double-rounded-rectangle-base;

    box-sizing: border-box; 
    width: calc(100% - 40px);
    height: calc(100% - 40px); 
    position: absolute;
    text-align: center;
    z-index: 1;

    &::before {
        border-radius: 30px;
    }

    &::after {
        margin: 10px;
        border-radius: 20px;
        border-width: 2.5px;
    }
}

// Class to be called for the double rounded rectangle used for framing
.double-rounded-rectangle-frame {
    @include double-rounded-rectangle-base;

    box-sizing: border-box; 
    width: 100%;
    height: 100%; 
    position: relative;
    text-align: center;
    z-index: 1;
    width: auto;
    display: inline-block;

    &::before {
        border-radius: 20px;
    }

    &::after {
        margin: 10px;
        border-radius: 10px;
        border-width: 2.5px;
    }

    img {
        border-radius: 20px;
    }
}