/*
This overlapping frame class provides us with one of the card
designs used for the landing page.
*/

// Base mixin used for creating the overlapping frame effect
.overlapping-frame-square {
    background-color: #DCC2DC;
    border: 5px solid #4D634D;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    position: relative;
    place-items: center;
    display: grid;
    padding: 10px;

    &::before, &::after {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #DCC2DC;
        border: 5px solid #4D634D; 
        border-radius: 5px; 
    }

    &::before {
        margin: 15px -20px 15px -20px;
        z-index: -2;
    }
    &::after {
        margin: 30px -35px 30px -35px;
        z-index: -3;
    }
}

.overlapping-frame-container {
    margin: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Base mixin used for creating the overlapping popout effect
@mixin overlapping-popout-base {
    position: absolute;
    background-color: #DCC2DC;
    border: 5px solid #4D634D;
    text-align: center;
    border-radius: 5px;
    margin: auto;

    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #B09BB0;
        border: 5px solid #4D634D; 
        border-radius: 5px; 
        margin: -1em 1em 1em -1em;
        padding: 10px;
        z-index: -20;
    }
}

.overlapping-popout-container {
    @include overlapping-popout-base;
    
    width: 80%;
    height: 80%;
    position: relative;
    display: grid;
    place-items: center;
    padding: 10px;
}