/*
The following are utility classes that are used across the landing
page and in its custom UI elements.
*/
.banner-logo {
    border-radius: 20px;
}

.white-header-text {
    font-family: "Yeseva One", serif;
    color: white;
    padding-bottom: 5px;
    margin: 0;
}

.navbar-white-text {
    font-family: "Yeseva One", serif;
    color: white;
    margin: auto;
    font-size: 20px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }
}

.white-paragraph-text {
    font-family: "Caudex", serif;
    color: white;
    padding-bottom: 10px;
    margin: 0;
}

.black-paragraph-text {
    font-family: "Caudex", serif;
    color: black;
    padding-bottom: 10px;
    margin: 0;
}

.landing-gallery-image-transform {
    position: relative;
    filter: brightness(40%) grayscale(80%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.landing-gallery-text-container {
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.landing-gallery-page {
    position: relative;
    align-items: center;
    justify-content: center;
    height: var(--app-height);
    flex: 0 0 100vw;
    display: flex;
}

.grid-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.grid-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05); 
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

@mixin card-text {
    color: black;
    text-align: left;
    margin: 0px;
    z-index: 4;
    position: relative;
}

.card-header-text {
    @include card-text;
    font-family: "Yeseva One", serif;
    padding: 0px 0px 5px 0px;
}
  
.card-body-text {
    @include card-text;
    font-family: "Caudex", serif;
    padding: 0px 0px 5px 0px;
}

.card-interior-container {
    place-items: center;
    width: 100%;
    flex: 1;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: strech;
    height: 100%;
    gap: 15px;
}

.sbs-image {
    display: flex;
    max-width: 100%; 
    height: auto;
    margin: 0 auto;
}

.card-image {
    display: block;
    position: relative;
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #4d634d;
}

.card-image-container {
    justify-content: center;
    align-items: center;
    transform-origin: center; 
    transition: transform 0.3s ease;
    will-change: transform;
    margin: 0px 10vw 0 10vw;

    &:hover {
        transform: scale(1.05); 
    }
}

.force-padding-container {
    padding-left: 25px;
    padding-right: 25px;
}

/* Mixin for any buttons we want to add to the bottom of any tag*/
@mixin base-button{
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.card-button{
    @include base-button;
    border: none;
    background-color: #847484;
    font-family: "Caudex", serif;
    font-style: italic;
    font-size: 1.2em;
    color: white;
    position: relative;
    z-index: 3;

    &:hover {
        background-color: #ac97ac;
    }
}

.gallery-button {
    @include base-button;
    border-style: solid;
    border-color: #957695;
    border-width: 5px;
    background-color: #4d634d;
    font-family: "Caudex", serif;
    font-style: italic;
    font-size: 1.2em;
    color: white;
    display: inline-block;
}

a {
    text-decoration: none;
}

body {
    overflow-y: auto;
    scrollbar-gutter: stable;
}
