.images{
    /* used on every image - using flex display (could maybe use grid if this sucks?)*/
    display:flex;
    flex-wrap:wrap;
    width:100%;
}
.column{
    flex:25%;
}
.column img{
    margin-top: 5px;
}
img{
    width:100%;
    border: 5px solid #957695;
    border-radius: 10%;
    position:relative; 
}

